.customer{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
   width: 100%;
}

.grid{
   display: grid;
   grid-template-columns: 1fr 1fr;
   text-align: justify;
   width: 50%;
}

.button{
   padding: 0.3rem;
}
